@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
}

.ocult {
    display: none;
}

/* Menu horizontal admin */
.main-menu-bar {
    height: 100px;
    background-color: black;
}

.main-menu-bar-logo {
    margin-left: 10px;
}

.main-menu-list {
    float: right;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 40px;
}
li.main-menu-list-item {
    color: white;
    margin-right: 100px;
    margin-top: 5px;
    align-items: center;
}
.main-menu-list-item>a {
    color: white;
    margin-right: 100px;
    margin-top: 100px;
    border-bottom: 2px solid #FBA00E;
    align-items: center;
    padding: 8px;
}

.main-menu-list-item>a:hover {
    color: #FBA00E;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}


/* formularios de edicion/agregamiento admin  */

.admin-panel-form{
    display: inline-block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}



/* Editar foto */
#edit-container {
    display: none;
}

#edit-foto-btn {
    color: #FBA00E;
}

#edit-foto-btn:hover {
    color: #FBA00E;
    opacity: 0.8;
    cursor: pointer;
}

/* MENÚ HORIZONTAL USER */

img.menu-header-basket-photo{
    padding-right: 20px;
}

img.menu-header-user-photo{
    padding-right: 20px;
}

/* Formulario login admin */

.login-user-form{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

/* Formulario login/signup usuario comun */
.form-title{
    margin-bottom: 33px;
}

.form-row{
    position: relative;
    margin-bottom: 25px;
}
.form-icon{
    width: 15px;
    height: 15px;
}

.form-container{
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.login-user-content{
    padding-top: 67px;
    padding-bottom: 87px;
    display: flex;
}

.login-user-form label {
    position: absolute;
    left: 0;
    top: 20%;
    color: #222;
}
.form-label-checkbox{
    margin-left: 25px;
    position: absolute;
    left: 0;
    top: -1px;
    color: #222;
}
.login-form-input{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
    outline: none;
}

.login-form-input:focus{
    border: none;
    border-bottom: 1px solid #FBA00E;
}

.login-user-form-submit-button{
    background: #FBA00E;
    color: #fff;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    border:none;
}
.login-user-form-submit-button:hover{
    cursor: pointer;
}

.login-user-form-foto-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-user-form-foto{
    width: 292px;
    height: 350px;
}

.signin-user-link{
    margin-top: 20px;
    color: #222;
    display: block;
    text-align: center;
    border-bottom: 1px solid #222;
}

.signin-user-link:hover{
   cursor: pointer;
   border-bottom: 1px solid #FBA00E;
}

/* Formulario crear cuenta usuario */
#repite-password{
    margin-bottom: 20px;
}

#clave-dif-msg {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    color: red;
    font-weight: bolder;
}

/* Menu vertical admin */

.admin-menu-bar {
    float: left;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 15%;
    margin-top: 70px;
}

.admin-menu-bar-item {
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.admin-menu-bar-item:hover {
    color: #FBA00E;
    background-color: #1F1F1F;
}

/* Estilos comunes de las tablas admin panel */

.admin-panel-content-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    float: right;
    align-items: center;
}

.admin-panel-title-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 50px;
    float: right;
}

.admin-panel-title {
    display: inline-block;
    font-size: 30px;
}

.orange-line {
    width: 100%;
    height: 3px;
    background-color: #FBA00E;
    margin-top: 10px;
}

.admin-panel-add-link {
    display: block;
    float: right;
    background-color: #FBA00E;
    color: black;
    padding: 8px;
    margin-right: 5%;
    border-radius: 5px;
}

.admin-panel-add-link:hover{
    color: #FBA00E;
    background-color: #1F1F1F;
    border-radius: 5px;
}

/* Estilos buscador */
.search_bar {
    display: flex;
    width: 700px;
    height: 50px;
    background-color: #FBA00E;
    align-items: center;
    border-radius: 5px;
}

.search_img {
    width: 40px;
    height: 40px;
}

.search_form {
    background-color: #FBA00E;
    border: none;
    width: 95%;
    margin-top: 0px;
}

.search_form input {
    border: none;
    padding-left: 10px;
    width: 88%;
    outline: none;
    padding: 0.2rem;
}

.search_form button {
    border: none;
    background-color: #FBA00E;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.search_form button:hover {
    opacity: 50%;
}

/* Tabla catalogo de libros */

.admin-panel-page-table {
    margin-left: 5%;
    display: inline-block;
}

.admin-panel-page-table th {
    color: black;
    border-bottom: 1px solid #FBA00E;
    padding: 2rem 2rem 0.75rem 2rem;
}

.admin-panel-page-table tr:nth-child(odd) {
    color: #1F1F1F;
}

.admin-panel-page-table tr:nth-child(even) {
    color: gray;
}

.text {
    padding: 0rem 1rem 0rem 1rem;
    text-align: center;
    height: 60px;
}

.libroicon {
    width: 80px;
    height: 80px;
    padding-left: 10%;

}

.control-icons {
    width: 60px;
    height: 60px;
    padding-left: 25%;
}


/* TABLA PEDIDOS */


.admin-panel-pedido-editar-estado-form{
    display: flex;
    align-items: center;
}

.admin-panel-pedido-submit-button{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

footer {
    height: 100px;
    background-color: black;
    color: white;
    width: 100%;
    bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link{
    color: white;
    margin-left: 20px;
}

/* LIBROS IMPORTANTES MAIN PAGE */

.main-page-important-books{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

.important-book{
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    width: 300px;
    margin-bottom: 50px;
    height: 430px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.important-book-image{
    display: flex;
    width: 150px;
    height: 150px;
    margin: auto;
}

.important-book-price{
    text-align: left;
    font-size: 31px;
    padding-left: 20%;
    padding-bottom: 20px;
}

.important-book-short-description{
    color: grey;
    height: 8rem;
    width: 300px;

}

.important-reservation-book-button{
    text-decoration: none;
    background-color: #FBA00E;
    border-radius: 25px;
    padding: 15px 50px 15px 50px;
    color: white;
    border: none;
}

.important-reservation-book-button:hover{
    opacity: 0.7;
    border-radius: 25px;
}

/* PREFOOTER MAIN PAGE */

.pre-footer-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.pre-footer-images{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    padding-bottom: 20px;
    margin: auto;
    width: 70%;

}
.pre-footer-image{
    margin: auto;
    width: 50px;
    height: 50px;
}

.pre-footer-texts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: auto;
    width: 70%;
}

.pre-footer-text{
    margin: auto;
    width: 200px;
    height: 100px;
    text-align: center;
}

/* ESTILOS MÓVIL */

/* Menú panel administrador fijo */

@media screen and (max-width: 1080px) {

    /* .admin-menu-bar{
        display: none;
        width: 200px;
        height: 100%;
        background-color: #333;
        margin-top: 15%;
        position: fixed;
        top: 0;
        left: 0;
    } */
}