* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

.ocult {
    display: none;
}

/* Menu horizontal admin */
.main-menu-bar {
    height: 100px;
    background-color: black;

}

.main-menu-bar-logo {
    margin-left: 10px;
}

.main-menu-list {
    float: right;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 40px;
}

.main-menu-list-item>a {
    color: white;
    margin-right: 100px;
    margin-top: 50px;
    border-bottom: 2px solid #FBA00E;
    align-items: center;
    padding: 8px;
}

.main-menu-list-item>a:hover {
    color: #FBA00E;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}


/* Formulario login admin */

.formLoginAdmin {
    margin-top: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Menu vertical admin */

.admin-menu-bar {
    float: left;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 15%;
    margin-top: 70px;
}

.admin-menu-bar-item {
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.admin-menu-bar-item:hover {
    color: #FBA00E;
    background-color: #1F1F1F;
}

/* Tabla catalogo de libros */

.admin-panel-page-table {
    margin-left: 5%;
    display: inline-block;
}

.admin-panel-page-table th {
    color: black;
    border-bottom: 1px solid #FBA00E;
    padding: 2rem 2rem 0.75rem 2rem;
}

.admin-panel-page-table tr:nth-child(odd) {
    color: #1F1F1F;
}

.admin-panel-page-table tr:nth-child(even) {
    color: gray;
}

.text {
    padding: 0rem 1rem 0rem 1rem;
    text-align: center;
    height: 60px;
}

.libroicon {
    width: 80px;
    height: 80px;
}

.control-icons {
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

/* Formulario añadir/editar libro */

.anadir-libro-form {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#edit-container {
    display: none;
}

#edit-foto-btn {
    color: orange;
}

#edit-foto-btn:hover {
    color: orange;
    opacity: 0.8;
    cursor: pointer;
}

/* Titulos de paginas del panel de Administrador */

.admin-panel-title-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 85%;
    height: 50px;
    float: right;
}

.admin-panel-title {
    display: inline-block;
    font-size: 30px;
}

.orange-line {
    width: 100%;
    height: 3px;
    background-color: #FBA00E;
    margin-top: 10px;
}

.admin-panel-add-link {
    display: block;
    float: right;
    background-color: #FBA00E;
    color: black;
    padding: 8px;
    margin-right: 5%;
    border-radius: 5px;
}

.admin-panel-add-link:hover{
    color: #FBA00E;
    background-color: #1F1F1F;
    border-radius: 5px;
}

footer {
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}

#div1 {
    padding-top: 80px;
}

/* ESTILOS MÓVIL */

/* Menú panel administrador fijo */

@media screen and (max-width: 1080px) {

    /* .admin-menu-bar{
        display: none;
        width: 200px;
        height: 100%;
        background-color: #333;
        margin-top: 15%;
        position: fixed;
        top: 0;
        left: 0;
    } */
}