* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
}

.ocult{
    display: none;
}

/* Menu horizontal admin */
.main-menu-bar {
    height: 100px;
    background-color: black;

}

/* .main-menu-bar-logo {} */

.main-menu-list {
    float: right;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main-menu-list-item>a {
    color: white;
    width: 200px;
    margin-right: 20px;
}

/* Formulario login admin */

.formLoginAdmin{
    margin-top: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Menu vertical admin */

.admin-menu-bar {
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
}

.admin-menu-bar-item {
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

/* Tabla catalogo de libros */

.admin-panel-libros-table {
    display: inline-block;
    border-collapse: collapse;
}

.admin-panel-libros-table td, th, tr{
    border: 1px solid black;
}

.libroicon{
    width: 80px;
    height: 80px;
}

/* Formulario añadir libro */

.anadir-libro-form{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Tabla pedidos */

.admin-panel-pedidos-table td, th, tr{
    border: 1px solid black;
    border-collapse: collapse;
}